
@media (max-width: 1024px) {
  
  h1 {
    font-size: 80px;
  }
  iframe {
    width: 100%;
    
  }
  .cartoon {
    padding: 0 1rem;
  }
  .sticky-info {
    display: block;
  }
  .sticky-info-right {
    margin-top: 2rem;
  }
  .cartoon-list {
    padding: 1rem;
  }
  header a {
    font-size: 30px;
  }
  .main-right {
    position: static;
    width: 100%;
    margin-top: 5rem;
  }
   .main-left {
    width: 84%;
    padding: 1% 8%;
  }
   .main-right p{
    padding:10px 10px 30px 20px;
  }
  h1.title2{
    font-size: 40px;
  }

}
@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  h1.title2 {
    font-size: 38px;
  }
  .sticky-info-left h3 {
    font-size: 30px;
  }
  .sticky-info-left p,
  header a {
    font-size: 24px;
  }
  .sticky-info-right p {
    font-size: 16px;
  }
  .cartoon-list .item {
    width: 46%;
  }
  .cartoon-list .item:nth-of-type(2n)::before {
    background: none;
  }
 
  .main-right {
    position: static;
    width: 100%;
  }
  .main-left h3,
  .mt-4 {
    margin-top: 2rem;
  }
  .video-container{
    margin-bottom: 4rem;
  }

}
@media (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
  h1.title2 {
    font-size: 32px;
  }
  .sticky-info-left h3 {
    font-size: 24px;
  }
  .sticky-info-left p,
  header a {
    font-size: 20px;
  }
  .main-left h3,
  .main-right p {
    font-size: 18px;
  }
  .sticky-info-right p,
  .main-left p,
  .main-right .item span {
    font-size: 14px;
  }
  .cartoon-list .item {
    width: 100%;
    border-bottom: 1px solid rgba(40, 61, 198, 1);
  }
  .cartoon-list .item::before,
  .cartoon-list::before {
    background: none;
  }
  .main-left p {
    line-height: 24px;
    margin-top: 1rem;
  }
  .video-container{
    margin-bottom: 4rem;
  }

  .main-right p{
    padding:10px 10px 30px 20px;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 25px;
    margin-bottom: 0px;
  }
  h1.title2{
    font-size: 25px;
  }
  header {
    padding:1rem;
  }
  .main-left{
    
    width: 82%;
    padding: 1% 9%;
  }
 
}